%h1 Welcome!

%br


%h3 It's good to learn something everyday, so this is here to help

%p 
	= link_to 'Sign in', sign_in_path
	or 
	= link_to 'sign up', sign_up_path
	to start creating pages full of customized and randomized bits of information