%h2 Topics

%br
%br

%table{align: 'center'}
  %thead
    %tr
      %th Title

  %tbody
    - @topics.each do |topic|
      %tr
        %td= link_to topic.title, topic
    %tr
      %td{colspan: '4', align: 'center'}= link_to '+New Topic', new_topic_path

%br
%br
%br