%h1 Your Facts Pages


- if @facts_pages.any?
	%table
		%thead
			%tr
				%th Title

		%tbody
			- @facts_pages.each do |facts_page|
				%tr
					%td= link_to facts_page.title, facts_page
- else
	= "Start by creating a new Facts Page, which you can add topics to"
	%br

%br

= link_to 'New Facts Page', new_facts_page_path
